{% extends "blog/base.html" %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.content }}</p>
<p>By {{ object.author }} on {{ object.published_date }}</p>

{% if object.tags %}
    <p>Tags:
        {% for tag in object.tags.all %}
            <a href="{% url 'posts-by-tag' tag.name %}" class="badge bg-secondary">{{ tag.name }}</a>
        {% endfor %}
    </p>
{% endif %}

{% if user == object.author %}
    <a href="{% url 'post-edit' object.pk %}">Edit</a>
    <a href="{% url 'post-delete' object.pk %}">Delete</a>
{% endif %}
<hr>
<h3>Comments</h3>
{% for comment in object.comments.all %}
    <div>
        <p>{{ comment.content }}</p>
        <small>By {{ comment.author }} on {{ comment.created_at }}</small>
        {% if user == comment.author %}
            <a href="{% url 'edit-comment' comment.pk %}">Edit</a>
            <a href="{% url 'delete-comment' comment.pk %}">Delete</a>
        {% endif %}
    </div>
{% empty %}
    <p>No comments yet. Be the first to comment!</p>
{% endfor %}

{% if user.is_authenticated %}
    <h4>Add a comment</h4>
    <form action="{% url 'add-comment' object.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post Comment</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Login</a> to leave a comment.</p>
{% endif %}
<a href="{% url 'post-list' %}">Back to All Posts</a>
{% endblock %}

